body {
    font-size: 100%;
}

table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
}

tr {
    border-bottom: 1px solid #cbcbcb;
}

th,
td {
    border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
    background: #999595;
}

form {
    widows: 45px;
    margin: 50px;
    text-align: left;
    padding: 20px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: #fff;
    background: #5f9ea0;
    border: none;
    border-radius: 5px;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #49c981;
    color: #fff;
    width: 50%;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #9aa19d;
    color: #b62e2e;
    width: 50%;
    border-radius: 3px;
}

.msg {
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #59805a;
    background: #dff0d8;
    width: 90%;
    text-align: center;
}

.title {
    text-align: center;
    color: #029c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}